
.pokesprite{
  margin-left: -20px;
}

.pokesprite.ribbon{
  margin-left: 0px !important;
}
.pokesprite.body-style{
  margin-left: 0px !important;
}
.pokesprite.special-attribute{
  margin-left: 0px !important;
}
.pokesprite.seals{
  margin-left: 0px !important;
}

.pokesprite.apricorn{
  margin-left: 0px !important;
}
.pokesprite.av-candy{
  margin-left: 0px !important;
}
.pokesprite.ball{
  margin-left: 0px !important;
}
.pokesprite.battle-item{
  margin-left: 0px !important;
}
.pokesprite.curry-ingredient{
  margin-left: 0px !important;
}
.pokesprite.etc{
  margin-left: 0px !important;
}
.pokesprite.ev-item{
  margin-left: 0px !important;
}
.pokesprite.evo-item{
  margin-left: 0px !important;
}
.pokesprite.flute{
  margin-left: 0px !important;
}
.pokesprite.fossil{
  margin-left: 0px !important;
}
.pokesprite.gem{
  margin-left: 0px !important;
}
.pokesprite.hm{
  margin-left: 0px !important;
}
.pokesprite.hold-item{
  margin-left: 0px !important;
}
.pokesprite.incense{
  margin-left: 0px !important;
}
.pokesprite.key-item{
  margin-left: 0px !important;
}
.pokesprite.mail{
  margin-left: 0px !important;
}
.pokesprite.medicine{
  margin-left: 0px !important;
}
.pokesprite.mega-stone{
  margin-left: 0px !important;
}
.pokesprite.memory{
  margin-left: 0px !important;
}
.pokesprite.mint{
  margin-left: 0px !important;
}
.pokesprite.mulch{
  margin-left: 0px !important;
}
.pokesprite.other-item{
  margin-left: 0px !important;
}
.pokesprite.partner-gift{
  margin-left: 0px !important;
}
.pokesprite.petal{
  margin-left: 0px !important;
}
.pokesprite.plate{
  margin-left: 0px !important;
}
.pokesprite.poke-candy{
  margin-left: 0px !important;
}
.pokesprite.roto{
  margin-left: 0px !important;
}
.pokesprite.scarf{
  margin-left: 0px !important;
}
.pokesprite.shard{
  margin-left: 0px !important;
}
.pokesprite.storage{
  margin-left: 0px !important;
}
.pokesprite.tm{
  margin-left: 0px !important;
}
.pokesprite.tr{
  margin-left: 0px !important;
}
.pokesprite.valuable-item{
  margin-left: 0px !important;
}
.pokesprite.wonder-launcher{
  margin-left: 0px !important;
}
.pokesprite.z-crystals{
  margin-left: 0px !important;
}
