.user-signature {
  max-width: calc(100% - 5px);
  margin-top: -16px;
}

.pokesprite.pokemon:hover {
  animation: HoverMoveUpDown 0.25s linear infinite;
}

@keyframes HoverMoveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px);
  }
}
